{#在body最后引入js文件#}
{% load staticfiles %}
{#    引入jQuey#}
{#    <script src="{% static 'public/js/jquery-1.12.3.min.js' %}"></script>#}
    <script src="http://cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
    <script src="{% static 'public/js/jquery.cookie.js' %}"></script>
{#    bootsrap js 文件#}
{#    <script src="{% static 'public/js/bootstrap.min-3.3.5.js' %}"></script>#}
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{# Material #}
{#    <script src="{% static 'public/dist/js/material.min.js' %}"></script>#}
{#    <script src="{% static 'public/dist/js/ripples.min.js' %}"></script>#}
{#    从七牛加载Material#}
    <script src="http://7xtddb.com1.z0.glb.clouddn.com/js/material.min.js"></script>
    <script src="http://7xtddb.com1.z0.glb.clouddn.com/js/ripples.min.js"></script>


<script>
    $(document).ready(function () {
        $.material.init();
        $.material.ripples();
    });
</script>

{#引入反馈js#}
<script src="{% static 'cloudlibrary/js/feedback.js' %}"></script>