{#导航栏#}
{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
{#      网站图标/名称#}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'cloudlibrary:index' %}">山科书云</a>
        </div>
    {#    未登录用户的导航栏#}
        {% if not request.user.id %}
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-left" action="{% url 'cloudlibrary:index_search' %}"
                              method="post" name="search_form">
                            {% csrf_token %}
                            <div class="form-group" style="padding: 0 15px;">
                                <input type="text" class="form-control" name="search_input"
                                       value="{{ request.session.search_input }}"
                                       placeholder="输入搜索内容...">
                            </div>
                        </form>
                    </li>
                    <li><a href="{% url 'cloudlibrary:index' %}">首页</a></li>
                    <li><a href="{% url 'cloudlibrary:addbook' %}">我要发布</a></li>
                    <li><a href="{% url 'cloudlibrary:wild_login' %}">登录</a></li>
                </ul>
            </div>
        {% else %}
        {#    登录用户的导航栏#}
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-left" action="{% url 'cloudlibrary:index_search' %}"
                              method="post" name="search_form">
                            {% csrf_token %}
                            <div class="form-group" style="padding: 0 15px;">
                                <input type="text" class="form-control" name="search_input"
                                       value="{{ request.session.search_input }}"
                                       placeholder="输入搜索内容...">
                            </div>
{#                            <button type="submit" class="btn btn-success-outline">找书</button>#}
                        </form>
                    </li>
                    <li><a href="{% url 'cloudlibrary:index' %}">首页</a></li>
                    <li><a href="{% url 'cloudlibrary:addbook' %}">我要发布</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ request.session.user.nickname }}
                            {% if request.session.user.newreply > 0 %}
                                <img src="{% static 'public/image/icon_red_point.png' %}"
                                     style="height: 8px;width: 8px;margin-bottom: 8px;"/>
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'cloudlibrary:person_info' request.user.id %}">
                                    <span>我的主页</span>
                                    {% if request.session.user.newreply > 0 %}
                                        <span class="label label-danger" style="margin: 0;padding: 0 5px;">{{ request.session.user.newreply }}</span>
        {#                                <span style="color: red;">({{ request.session.user.newreply }})</span>#}
                                    {% endif %}
                                </a>
                            </li>
                            <li><a href="{% url 'cloudlibrary:wild_logout' %}">退出</a></li>
{#                            添加一条线来分离#}
{#                            <li class="divider"></li>#}
                        </ul>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>