label, a{
    word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
}
table {
    word-wrap : break-word;
    table-layout:fixed;
    overflow: hidden;
}
p {
    word-wrap : break-word;
    word-break: break-all;
    overflow: hidden;
}

.add-book-from {
    margin-top: 80px;
}
#nickname {
    position: absolute;
    right: 80px;
}

.table-custom {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
}
.table-custom #first-clo-td{
    width: 15%;
    text-align: right;
    padding-right: 5px;
}
.table-custom td {
    padding: 8px 0;
}
.table-custom img {
    min-height: 140px;
    max-height: 180px;
    min-width: 180px;
    max-width: 220px;
}
.table-custom textarea {
    min-height: 150px;
}
.table-custom button {
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
}