label, a{
    word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
}
table {
    word-wrap : break-word;
    table-layout:fixed;
    overflow: hidden;
}
p {
    word-wrap : break-word;
    word-break: break-all;
    overflow: hidden;
}
.nav-search {
    position: relative;
    right: 50px;
    top: 10px;
}
.top-nav-dropdowm .top-nav-profile{
    top:46px;
}
.top-nav-dropdowm{
    display:none;
    margin: 0;
    position: absolute;
    left: 0;
}