{% load staticfiles %}
{% include "cloudlibrary/includes/_common_head.html" %}

<!--suppress ALL -->
<link rel="stylesheet" href="{% static 'cloudlibrary/css/index.css' %}" />

{% include "cloudlibrary/includes/_common_head_sec.html" %}
{% include "cloudlibrary/includes/_common_nav.html" %}
{#以上为引入头部#}

{#标签#}
<div class="container book-tag">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 book-tag">
            {% for tag in book_tag_first %}
                <label>
                    <span class="label {{ tag_bgc_list|random }}">
                        <a href="#" id="{{ tag.id }}" onclick="book_tag_click(this);">{{ tag.name }}</a>
                    </span>
                </label>
            {% endfor %}
            {% if book_tag_second|length > 0 %}
                <label>
                    <span class="label label-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="color: white;">more</a>
                    </span>
                </label>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body" style="padding: 0;">
                        {% for tag in book_tag_second %}
                            <label>
                                <span class="label {{ tag_bgc_list|random }}">
                                    <a href="#" id="{{ tag.id }}" onclick="book_tag_click(this);">{{ tag.name }}</a>
                                </span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="clearfix" style="margin-bottom: 15px;"></div>

{#显示商品信息的div#}
<div class="container">
    {% for book in books %}
        <div class="row">
            <div class="jumbotron col-lg-6 col-md-6 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-2">
                <img src="{{ book.pic }}" alt="图片加载失败..."
                     class="img-rounded col-lg-3 col-md-3 col-sm-3 col-xs-4"
                     style="margin: 15px 0; padding-right: 15px;min-width: 80px;min-height: 120px;"
                />
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8"
                     style="margin: 15px 0;" >
{#                    <div class="row">#}
{#                        <a href="{% url 'cloudlibrary:person_info' book.owner.id %}">{{ book.owner.nickname }}</a>#}
{#                    </div>#}
                    <div class="row" style="min-height: 130px;margin: 0 0 0 5px;padding: 0;">
                        <div class="row">
                            <a href="{% url 'cloudlibrary:book_detail_with_bookid' book.id %}"><h4>{{ book.name }}</h4></a>
                        </div>
                        <div class="row">
                            <p style="font-size: 14px;">
                                <span>{{ book.description }}</span>
                                {% if book.description|length_is:"80" %}
                                    <a href="{% url 'cloudlibrary:book_detail_with_bookid' book.id %}">...</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        {% for tag in book.tag_list %}
                            <label class="book-tag">
                                <span class="label {{ tag_bgc_list|random }}">
                                    <a href="#" id="{{ tag.id }}" onclick="book_tag_click(this);">{{ tag.name }}</a>
                                </span>
                            </label>
                        {% endfor %}
                    </div>
                    <div class="row" style="font-size: 12px;color: #6a6f7d;">
                        <span class="pull-right">
                            <a href="{% url 'cloudlibrary:person_info' book.owner.id %}">{{ book.owner.nickname }}</a>
                        </span>
                        <span class="pull-right">&nbsp;&nbsp;</span>
                        <span class="pull-right">{{ book.add_date|date:"Y-m-d H:i:s" }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" style="margin-bottom: 30px;"></div>
    {% endfor %}
</div>

{% if page_last != 1 %}
    {#分页#}
    <div class="container-fluid text-center">
        <nav class="center-block">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="{% url 'cloudlibrary:index_with_page' page_first %}" aria-label="Previous">
                        <span aria-hidden="true">ι«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% if page1st > 0 %}
                <li class="page-item">
                  <a class="page-link"
                     href="{% url 'cloudlibrary:index_with_page' page1st %}">{{ page1st }}
                  </a>
                </li>
            {% endif %}
            {% if page2ed > 0 %}
                <li class="page-item">
                  <a class="page-link"
                     href="{% url 'cloudlibrary:index_with_page' page2ed %}">{{ page2ed }}
                  </a>
                </li>
            {% endif %}
            {% if page3th > 0 %}
                <li class="page-item">
                  <a class="page-link" style="background-color: #adadad;" href="{% url 'cloudlibrary:index_with_page' page3th %}">{{ page3th }}</a>
                </li>
            {% endif %}
            {% if page4th > 0 %}
                <li class="page-item">
                  <a class="page-link" href="{% url 'cloudlibrary:index_with_page' page4th %}">{{ page4th }}</a>
                </li>
            {% endif %}
            {% if page5th > 0 %}
                <li class="page-item">
                  <a class="page-link" href="{% url 'cloudlibrary:index_with_page' page5th %}">{{ page5th }}</a>
                </li>
            {% endif %}
              <li class="page-item">
                <a class="page-link" href="{% url 'cloudlibrary:index_with_page' page_last %}" aria-label="Next">
                  <span aria-hidden="true">»ι</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
        </nav>
    </div>
{% endif %}

{#上移到顶部#}
{#<div class="fixed-btn">#}
{#    <a href="#top" style="align-content: center;text-align: center;vertical-align: middle;">#}
{#        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>#}
{#    </a>#}
{#</div>#}
{#引入依赖js#}
{% include "cloudlibrary/includes/_common_foot_before.html" %}

<script>
    function book_tag_click(obj) {
        $("input[name=search_input]").val("#" + obj["text"]);
        $("form[name=search_form]").submit();
    }
</script>

{#以下为引入尾部#}
{% include "cloudlibrary/includes/_common_foot.html" %}