{% load staticfiles %}
{% include "cloudlibrary/includes/_common_head.html" %}
<link rel="stylesheet" href="{% static 'cloudlibrary/css/login.css' %}">
<script language="javascript" src="{% static 'public/js/jquery.cookie.js' %}"></script>
<script>
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    function wild_login(action) {
        var email = $("#input_email").val();
        var password = $("#input_password").val();
        if (email.trim() == "") {
            alert("请输入账号");
            return false;
        }
        if (password.trim() == "") {
            alert("请输入密码");
            return false;
        }

        $.post("{% url 'cloudlibrary:deal_login_register' %}",{
            email: email,
            password: password,
            action: action
        }, function(data) {
            if (data['res']=='success') {
                location.href = "{% url "cloudlibrary:index" %}";
            }
            else {
                alert(data.msg)
            }
        }).error(function(msg) {
            alert("未知错误");
        });
    }

</script>

{% include "cloudlibrary/includes/_common_head_sec.html" %}
{#以上为引入头部#}
<div class="card" style="margin-top: 60px;width: 480px;height: 645px;">
    <h1 style="text-align: center;margin-top: 70px;">书</h1>
    <h1 style="text-align: center;">云</h1>
    <form action="." method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <label style="margin-top: 100px;margin-left: 100px;"><strong>用户名</strong></label>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" style="margin-left: 100px;width: 295px;height: 45px;" id="input_email" placeholder="请输入用户名...">
                </td>
            </tr>
            <tr>
                <td>
                    <label style="margin-left: 100px;"><strong>密码</strong></label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" style="margin-left: 100px;width: 295px;height: 45px;" class="form-control" id="input_password" placeholder="请输入密码...">
                </td>
            </tr>
            <tr>
                <td>
                    <button style="margin-top: 20px;background-color: #12806b;color: #ffffff;width: 295px;height: 45px;margin-left: 100px; " type="button" onclick="wild_login('login')" id="login_button"
                            class="btn btn-default">登录</button>
                    <p style="font-size: 12px;margin-left: 100px;">如果您还没有账号，请选择<a style="color: #0f0f0f;font-size: larger;" href="{% url 'cloudlibrary:wild_register' %}"><strong>注册</strong></a></p>

                </td>
            </tr>
        </table>
    </form>
    </div>
{#以下为引入尾部#}
{% include "cloudlibrary/includes/_common_foot.html" %}