{% load staticfiles %}
{% include "cloudlibrary/includes/_common_head.html" %}
{% include "cloudlibrary/includes/_common_head_sec.html" %}
{#以上为引入头部#}

{#登陆注册页#}

{#书云标题与口号#}
<div class="clearfix" style="margin-bottom: 30px;"></div>
<div class="container-fluid">
    <h1 class="text-center">书</h1>
    <h1 class="text-center">云</h1>
    <p class="text-center">与你爱的人分享你所爱</p>
</div>
<div class="clearfix" style="margin-bottom: 30px;"></div>

{#登陆注册框#}
<div class="row text-center" style="font-weight: 400;font-size: 20px;">
    <a href="#" id="a_login" style="text-decoration: none;">登陆</a>
    <b style="color: #ADADAD">·</b>
    <a href="#" id="a_register" style="text-decoration: none;">注册</a>
</div>
<div class="clearfix" style="margin-bottom: 30px;"></div>

{#登陆框#}
<div class="container col-md-4 col-md-offset-4" id="div_login">
    <div class="col-md-8 col-md-offset-2">
        <form>
            {% csrf_token %}
            <table class="table table-bordered">
                <tr>
                    <td style="padding: 0;">
                        <input type="text" class="form-control" id="input_login_username"
                               style="border: none;"
                               placeholder="请输入邮箱/用户名" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0;">
                        <input type="password" class="form-control" id="input_login_password"
                               style="border: none;"
                               placeholder="请输入密码" />
                    </td>
                </tr>
            </table>
            <button type="button" id="button_login_confirm" class="btn btn-default center-block" style="width: 80%;">登陆</button>
        </form>
    </div>
</div>

{#注册框#}
<div class="container col-md-4 col-md-offset-4" style="display: none;" id="div_register">
    <div class="col-md-8 col-md-offset-2">
        <form>
            {% csrf_token %}
            <table class="table table-bordered">
                <tr>
                    <td style="padding: 0;">
                        <input type="text" class="form-control" id="input_register_username"
                               style="border: none;"
                               placeholder="请输入邮箱" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0;">
                        <input type="password" class="form-control" id="input_register_password"
                               style="border: none;"
                               placeholder="请输入密码" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0;">
                        <input type="password" class="form-control" id="input_register_password_repeat"
                               style="border: none;"
                               placeholder="请确认密码" />
                    </td>
                </tr>
            </table>
            <button type="button" id="button_register_confirm" class="btn btn-default center-block" style="width: 80%;">注册</button>
        </form>
    </div>
</div>

{#引入模态提示框#}
{% include "cloudlibrary/includes/_common_model.html" %}

{#引入依赖js#}
{% include "cloudlibrary/includes/_common_foot_before.html" %}

{#引入登陆/注册js#}
<script src="{% static 'cloudlibrary/js/login.js' %}" charset="utf-8"></script>

{#以下为引入尾部#}
{% include "cloudlibrary/includes/_common_foot.html" %}