{% load staticfiles %}
{% include "cloudlibrary/includes/_common_head.html" %}
<style type="text/css">
    body {
        padding-top: 20px;
    }
    input {
        padding: 0;
        margin: 0;
    }
    .form-group {
        margin-top: 0;
    }
</style>
{% include "cloudlibrary/includes/_common_head_sec.html" %}
{#以上为引入头部#}

{#登录注册页#}

<div class="container-fluid">
    <div class="jumbotron col-lg-4 col-md-4 col-sm-6 col-xs-10 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-1" style="min-height: 570px;">
        {#书云标题与口号#}
        <div class="clearfix" style="margin-bottom: 10px;"></div>
        <div class="row">
            <h1 class="text-center"><a href="{% url 'cloudlibrary:index' %}">书</a></h1>
            <h1 class="text-center"><a href="{% url 'cloudlibrary:index' %}">云</a></h1>
{#            <div class="clearfix" style="height: 20px;"></div>#}
{#            <p class="text-center">分享 · 收获</p>#}
        </div>
        <div class="clearfix" style="margin-bottom: 15px;"></div>

        {#登录注册框#}
        <div class="row text-center" style="font-weight: 400;font-size: 15px;">
            <a href="#" id="a_login" style="text-decoration: none;">登录</a>
            <b style="color: #ADADAD">·</b>
            <a href="#" id="a_register" style="text-decoration: none;">注册</a>
        </div>
        <div class="clearfix" style="margin-bottom: 30px;"></div>

        <div class="row">
            {#登录框#}
            <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-1 col-xs-offset-1"
                 id="div_login">
                <form class="row">
                    {% csrf_token %}
                    <input type="text" class="form-control" id="input_login_username"
                           placeholder="请输入邮箱/用户名" />
                    <input type="password" class="form-control" id="input_login_password"
                           placeholder="请输入密码" />
                    <div class="clearfix" style="margin-bottom: 15px;"></div>
                    <button type="button" id="button_login_confirm"
                            class="btn btn-raised btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12">登录</button>
                </form>
            </div>
        </div>

        {#注册框#}
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-1 col-xs-offset-1"
                 style="display: none;" id="div_register">
                <div class="row">
                    <form>
                        {% csrf_token %}
                        <input type="text" class="form-control" id="input_register_username"
                               placeholder="请输入邮箱" />
                        <input type="password" class="form-control" id="input_register_password"
                               placeholder="请输入密码" />
                        <input type="password" class="form-control" id="input_register_password_repeat"
                               placeholder="请确认密码" />
                        <button type="button" id="button_register_confirm"
                                class="btn btn-raised btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12">注册</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{#引入模态提示框#}
{% include "cloudlibrary/includes/_common_model.html" %}

{#引入依赖js#}
{% include "cloudlibrary/includes/_common_foot_before.html" %}

{#引入登录/注册js#}
<script src="{% static 'cloudlibrary/js/login.js' %}" charset="utf-8"></script>

{#以下为引入尾部#}
{% include "cloudlibrary/includes/_common_foot.html" %}