{% load staticfiles %}
{% include "cloudlibrary/includes/_common_head.html" %}
<link rel="stylesheet" href="{% static 'cloudlibrary/css/people.css' %}">

{% include "cloudlibrary/includes/_common_head_sec.html" %}
{% include "cloudlibrary/includes/_common_nav.html" %}
{#以上为引入头部#}



    {% csrf_token %}
<div class="container" style="margin-top: 100px;">
    <div class="row">
    <div class="booksail col-lg-8" style="padding:20px;">
    <h4>我的书架</h4>
        {% for book in books %}
    <table id="{{ book.id }}" style="margin-bottom: 50px;background-color: #f0f0f0">
        <tr>
            <td>
                <img style="width: 108px;height: 158px;" src="{{ book.pic }}" class="img-rounded"/>
            </td>
            <td  class="bookdetail">
                <div>
                    <h6 style="font-weight: bolder;">{{ book.name }}</h6>
                    <p style="color: #555555;font-size: 14px;line-height: 150%;" class="bookdetail-bookname">{{ book.description }}</p>
                </div>
            </td>
        </tr>
    </table>
    {% endfor %}
    {# 分页 #}
<div style="margin-left: 40%;">
<nav>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="{% url 'cloudlibrary:personinfo_with_page' viewuser.id  page_first %}" aria-label="Previous">
          <span aria-hidden="true">«</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    {% if page1st > 0 %}
        <li class="page-item">
          <a class="page-link" href="{% url 'cloudlibrary:personinfo_with_page' viewuser.id  page1st %}">{{ page1st }}</a>
        </li>
    {% endif %}
    {% if page2ed > 0 %}
        <li class="page-item">
          <a class="page-link" href="{% url 'cloudlibrary:personinfo_with_page' viewuser.id  page2ed %}">{{ page2ed }}</a>
        </li>
    {% endif %}
    {% if page3th > 0 %}
        <li class="page-item">
          <a class="page-link" style="background-color: #adadad;" href="{% url 'cloudlibrary:personinfo_with_page' viewuser.id  page3th %}">{{ page3th }}</a>
        </li>
    {% endif %}
    {% if page4th > 0 %}
        <li class="page-item">
          <a class="page-link" href="{% url 'cloudlibrary:personinfo_with_page' viewuser.id  page4th %}">{{ page4th }}</a>
        </li>
    {% endif %}
    {% if page5th > 0 %}
        <li class="page-item">
          <a class="page-link" href="{% url 'cloudlibrary:personinfo_with_page' viewuser.id  page5th %}">{{ page5th }}</a>
        </li>
    {% endif %}

      <li class="page-item">
        <a class="page-link" href="{% url 'cloudlibrary:personinfo_with_page' viewuser.id  page_last %}" aria-label="Next">
          <span aria-hidden="true">»</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
</nav>
</div>
{#分页结束#}
</div>
<div class="col-md-4">
        <div class="card" style="position:fixed;width: 300px;margin-left: 60px;">

        <div class="card-block">
        <img style="margin: 10px 10px 10px 10px;" src="/media/cloudlibrary/headpic/{{ viewuser.headpic }}" alt="我的头像" class="img-rounded">
                <label id="nickname-label" style="display: inline">
                    <strong>#</strong>
                    <span id="nickname-a" style="color: #0f0f0f">{{  viewuser.nickname }}</span>
                </label>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">

                    <label id="weixin-label" style="display: inline">
                    <strong>微信</strong>
                        <span id="weixin" style="color: #777777;float: right;">{{ viewuser.weixin }}</span>
                    </label>
            </li>
            <li class="list-group-item">

                    <label id="qq-label" style="display: inline">
                    <strong>QQ&nbsp</strong>
                        <span id="qq" style="color: #777777;float: right;">{{ viewuser.qq }}</span>
                    </label>
            </li>
            <li class="list-group-item">

                    <label id="tel-label" style="display: inline">
                    <strong>电话</strong>
                        <span id="tel" style="color: #777777;float: right;">{{ viewuser.tel }}</span>
                    </label>
            </li>
        </ul>
    </div>
    </div>
    </div>

</div>

{#以下为引入尾部#}
{% include "cloudlibrary/includes/_common_foot.html" %}